.page {
    background-color: #000;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: #fff;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 45px 200px 60px;
    font-family: 'Inter', 'Arial', sans-serif;
    position: relative;
        }
    
    @media screen and (max-width: 1170px) {
    
        .page {
            padding: 45px 90px 60px;
        }
    }
    
    @media screen and (max-width: 1100px) {
    
        .page {
            padding: 45px 70px 60px;
        }
    }
    
    @media screen and (max-width: 950px) {
        .page {
            padding: 45px 50px 60px;
        }
    }
    
    @media screen and (max-width: 650px) {
        .page {
            padding: 28px 0 36px;
        }
    }
    