.header__logo {
    background-image: url(../../../images/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
    }