.elements {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: auto;
    column-gap: 17px;
    row-gap: 20px;
    padding: 50px 0 66px;
}

@media screen and (max-width: 650px) {
    .elements {
        padding: 36px 0 48px; 
    }
}