.profile__description {
    margin:0;
    padding: 0; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    }

    @media screen and (max-width: 650px) {
        .profile__description {
            font-size: 14px;
            line-height: 17px;
        }
    }