.popup__window {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    padding-left: 40px;
    position: relative;
}

@media screen and (max-width: 650px) {
    .popup__window {
      padding-left: 0;
      padding-top: 10px;
    }
}