@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__photo/profile__photo.css);
@import url(../blocks/profile/__user/profile__user.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/mesto/mesto.css);
@import url(../blocks/mesto/__image/mesto__image.css);
@import url(../blocks/mesto/__info/mesto__info.css);
@import url(../blocks/mesto/__title/mesto__title.css);
@import url(../blocks/mesto/__button/mesto__button.css);
@import url(../blocks/mesto/__button/_active/mesto__button_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__window/popup__window.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__button/_status/popup__button_status_close.css);
@import url(../blocks/popup/__button/_status/popup__button_status_save.css);
@import url(../blocks/popup/__item/popup__item.css);


.popup__button_status_create {
    background-color: #000000;
    border-radius: 2px;
    width: 100%;
    height: 50px;
    margin-top: calc(48px - 30px);
    margin-bottom: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__button_status_create:hover {
    opacity: .8;
}

@media screen and (max-width: 650px) {
    .popup__button_status_create {
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
}

.popup__item_form_place-add::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}
.popup__item_form_place-add::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}
.popup__item_form_place-add::-moz-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}
.popup__item_form_place-add::-ms-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.popup__button_zoom_close {
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../images/Close-icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 32px;
    height: 32px; 
}

.popup__zoom-title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.popup__zoom-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mesto__delete {
    background-color: transparent;
    background-image: url(../images/Trash.svg);
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
}
.mesto__hidden {
    display: none;
}