@import url(../vendor/normalize.css);

html {
    background-color:lightseagreen;
}
/* div {
    border: 1px solid red;
} */

.page {
background-color: #000;
margin: 0 auto;
max-width: 1280px;
display: flex;
flex-direction: column;
align-items: center;
color: #fff;
box-sizing: border-box;
min-height: 100vh;
padding: 45px 200px 60px;
}


.header {
margin: 0;
padding: 0;
width: 100%;
display: flex;
flex-direction: column;
padding-bottom: 40px;
}

.header__logo {
background-image: url(../images/Vector.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 142px;
height: 33px;
margin-bottom: 41px;
}

.header__line {
    border-bottom: 1px solid #545454;
    opacity: .7;
}

.content {
width: 100%;
flex: 1;
color: #fff;
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
}

.elements {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: auto;
    column-gap: 17px;
    row-gap: 20px;
    padding: 50px 0 66px;
}

.elements__mesto {
background-color: #fff;
color:#000;
display: flex;
flex-direction: column;
justify-content: space-between;
border-radius: 10px;

}
.elements__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px 10px 0px 0px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.footer__copyright {
    margin: 0;
    padding: 0;
}