@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__photo/profile__photo.css);
@import url(../blocks/profile/__user/profile__user.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__mesto/elements__mesto.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__info/elements__info.css);
@import url(../blocks/elements/__title/elements__title.css);
@import url(../blocks/elements/__like-button/elements__like-button.css);
@import url(../blocks/elements/__like-button/_active/elements__like-button_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__window/popup__window.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__button/_status/popup__button_status_close.css);
@import url(../blocks/popup/__button/_status/popup__button_status_save.css);
@import url(../blocks/popup/__item/popup__item.css);

html {
    background-color:lightseagreen;
}

/* .popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .5);
    background-size: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-items: center;
} */

/* .popup_opened {
    display: flex;
} */

/* .popup__window {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-top: calc(155px - 45px);
    padding-left: 40px;
} */

/* .popup__container {
background-color: #fff;
max-width: 430px;
max-height: 330px;
color: #000000;
border-radius: 10px;
margin-top: 40px;
box-sizing: border-box;
padding: 0 36px;
} */

/* .popup__form {
    border: none;
    margin: 0;
    padding: 0;
} */

/* .popup__heading {
margin: 34px 0 48px;
font-style: bold;
font-weight: 900;
font-size: 24px;
line-height: 29px;
} */

/* .popup__button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 0;
} */

/* .popup__button_status_close {
    background-image: url(../images/Close\ Icon.svg);
    background-position: cover;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px; 
    margin-left: 8px;
}
.popup__button_status_close:hover {
    opacity: .6;
}

@media screen and (max-width: 650px) {
    .popup__button_status_close {
       background-size: 20px;
    }
} */

/* .popup__button_status_save {
width: 100%;
height: 50px;
margin-top: calc(48px - 30px);
margin-bottom: 37px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
}

.popup__button_status_save:hover {
    opacity: .8;
} */

/* .popup__item {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
height: 27px;
width: 100%;
border: none;
border-bottom: 1px solid #000000;
margin-bottom: 30px;
padding: 0;
} */