.popup__item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    height: 27px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0;
    }

    .popup__item:invalid:not(:focus):not(:placeholder-shown){
        border-bottom: 1px solid red;
    }


    .popup__item::placeholder {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    .popup__item::-webkit-input-placeholder {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    .popup__item::-moz-placeholder {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    .popup__item::-ms-input-placeholder {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    